{% extends 'base.html' %}
{% load bootstrap5 %}
{% load custom_tags %}

{% block title %}Выбор времени{% endblock %}

{% block content %}
<h1>Выберите время</h1>
<a href="{% url 'appointments:select_date' %}" class="btn-light-shadow">Назад</a>
<br><br>
{% info_tag 'Массажист' appointment.get_master %}
{% info_tag 'Общая продолжительность, мин' appointment.get_all_duration %}
{% info_tag 'Общая стоимость, Р' appointment.get_all_price %}
{% info_tag 'Дата' appointment.get_date|format:'%d %m %Y' %}
<h2>Выбранные услуги</h2>
{% table %}
    {% thead 'Название' 'Цена, Р' 'Продолжительность, мин' 'Описание' %}
    <tbody>
        {% for i in appointment.get_services_with_duration %}
        {% tr i.service.name i.service.price i.time i.service.description %}
        {% endfor %}
    </tbody>
{% endtable %}
{% stack %}
    {% for time in times %}
        {% stack_el %}
        <form method = 'post' action = "{% url 'appointments:selected_time' time %}">
            {% csrf_token %}
            <input type = 'submit' value = '{{ time }}' class = 'btn-press'>
        </form>
        {% endstack_el %}
    {% endfor %}
{% endstack %}
{% endblock %}